<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<security:http auto-config="true">-->
    <!--<security:intercept-url pattern="/**" access="ROLE_USER"/>-->
    <!--</security:http>-->

    <security:global-method-security
            pre-post-annotations="enabled"
            jsr250-annotations="enabled"
            secured-annotations="enabled"/>

</beans>