<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- 与zookeeper集成,后续会考虑实现这个功能!! -->
    <!--<bean id="thriftZookeeper" class="com.demo.thrift.zookeeper.ZookeeperFactory" destroy-method="close">-->
    <!--<property name="connectString" value="127.0.0.1:2181"></property>-->
    <!--<property name="namespace" value="demo/thrift-service"></property>-->
    <!--</bean>-->
    <!--<bean id="sericeAddressReporter" class="com.demo.thrift.support.impl.DynamicAddressReporter" destroy-method="close">-->
    <!--<property name="zookeeper" ref="thriftZookeeper"></property>-->
    <!--</bean>-->


    <!--server实现类 -->
    <bean id="helloWorldServiceImp" class="com.vico.license.service.Impl.HelloWorldServiceImp"/>

    <!--注意:ThriftServiceServerFactory是个通用类,传什么接口进去都可以 -->
    <!--这里给工厂传了helloWorldService,因此这个thrift就只能处理这个接口的业务,传别的接口就可以实现别的业务 -->
    <bean id="helloWorldService" class="com.vico.license.rpc.ThriftServiceServerFactory" init-method="init"
          destroy-method="destory">
        <property name="serviceIface" value="com.vico.license.service.HelloWorldService"></property>
        <property name="serviceImpl" ref="helloWorldServiceImp"></property>
        <property name="port" value="9090"></property>
        <!--<property name="addressReporter" ref="sericeAddressReporter"></property>-->
    </bean>

</beans>